{% extends "base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock styles%}

{%block content %}
  <main>
    <section class="image">
      <div class="property-image-container">
        <img src="{% static 'img/15.jpg' %}" alt="RentMate Banner">
        <h1>About Us</h1>
        <p>Get to know us properly.</p>
      </div>
    </section>

    <section class="intro-section">
      <div class="intro-box">
        <div class="intro-text">
          <h2>{{ about_us.title }}</h2>
          <p>{{ about_us.description|linebreaks }}</p>
        </div>
        <div class="intro-image">
          {% if about_us.image %}
          <img src="{{ about_us.image.url }}" alt="RentMate Intro Image">
          {% else %}
          <p>No image available</p>
          {% endif %}
        </div>
      </div>
    </section>

  </main>
{% endblock %}