<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostels</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/property.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">
                <img src="{% static 'img/RentMate.png' %}" alt="RentMate Logo">
            </a>
        </div>
        <nav>
            <ul>
              <li class="{% if request.path == '/home/' %} active {% endif %}"><a href="{% url 'home' %}">Home</a></li>
              <li class="{% if request.path == '/property/' %} active {% endif %}"><a href="{% url 'property' %}">Properties</a></li>
              <li class="{% if request.path == '/aboutus/' %} active {% endif %}"><a href="{% url 'aboutus' %}">About Us</a></li>
              <li class="{% if request.path == '/contactus/' %} active {% endif %}"><a href="{% url 'contactus' %}">Contact Us</a></li>
              <li><a href="#">Register Property</a></li>
  
              {% if user.is_authenticated %}
              <li class="dropdown">
                <div class="dropdown-toggle">
                  <div class="rounded-circle">{{ user.first_name|default:user.username|first|upper }}</div>
                  <span>{{ user.get_full_name|default:user.username }}</span>
                </div>
                <div class="dropdown-menu">
                  <a href="{% url 'my_account' %}">My account</a>
                  <a href="{% url 'saved' %}">Saved</a>
                  <a href="{% url 'bookings' %}">Booking History</a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="text-danger">Logout</a>
                </div>
              </li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <section class="image">
            <div class="property-image-container">
                <img src="{% static 'aboutimg/11.jpg' %}" alt="RentMate Banner">
                <h1>About Us</h1>
                <p>Get to know us properly.</p>
            </div>
        </section>
        <!--Search-->
        <div class="search-section">
            <div class="search-container">
                <div class="search-box">
                    <input type="text" placeholder="Search" class="search-input">
                </div>
                <div class="location-box">
                    <input type="text" placeholder="Search location..." class="location-input">
                </div>
                <div class="hostel-type-box">
                    <input type="text" placeholder="Boys or Girls Hostel..." class="type-input">
                </div>
                <div class="search-btn-box">
                    <button class="search-btn">Search</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>